<div [formGroup]="form" class="form-group">
  <label for="field.key">
    <i *ngIf="required" class="fas fa-asterisk" style="color:red"></i>
    {{field.label}}
  </label>
  <div class="input-group">
    <input class="form-control" name="field.key" class="form-control" [formControlName]="field.key" [id]="field.key"
      [type]="field.type" />
    <div class="input-group-append">

      <div class="input-group-text" *ngIf="control.invalid"><i class="fas fa-exclamation-circle fa-fw" style="color: red"></i></div>
      <div class="input-group-text" *ngIf="control.valid"><i class="fas fa-check fa-fw" style="color: green"></i></div>
    </div>
  </div>
  <div *ngIf="control.invalid && (control.dirty || control.touched)">
    <div *ngIf="control.errors.required">
      {{field.label}} is required.
    </div>
    <div *ngIf="control.errors.minlength">
      {{field.label}} must be at least {{minLength}} characters long.
    </div>
    <div *ngIf="control.errors.maxlength">
      {{field.label}} must be at max {{maxLength}} characters long.
    </div>
  </div>
</div>